<a href="https://colab.research.google.com/github/githubbhavani/internship/blob/master/intern4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas

In [0]:
import numpy as np
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0,2.0,3.0,4.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
4    2.00
5    3.00
6    4.00
dtype: float64

In [0]:
data.values

array([0.25, 0.5 , 0.75, 1.  , 2.  , 3.  , 4.  ])

In [0]:
data.index

RangeIndex(start=0, stop=7, step=1)

In [0]:
data[4:7]

4    2.0
5    3.0
6    4.0
dtype: float64

Series as generalized NumPy array

In [0]:
data = pd.Series([18,19,20,21,22],
                 index=['a', 'b', 'c', 'd','e'])
data

a    18
b    19
c    20
d    21
e    22
dtype: int64

Series as specialized dictionary

In [0]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [0]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Constructing Series objects

In [0]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [0]:
pd.Series(1000, index=[100, 200, 300])

100    1000
200    1000
300    1000
dtype: int64

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 3])

1    b
3    c
dtype: object

The Pandas DataFrame Object

In [0]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [0]:
area.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [0]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [0]:
states.columns

Index(['population', 'area'], dtype='object')

DataFrame as specialized dictionary

In [0]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [0]:
states['population']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: population, dtype: int64

Constructing DataFrame objects
From a single Series object

In [0]:
pd.DataFrame(area, columns=['area'])

              area
California  423967
Texas       695662
New York    141297
Florida     170312
Illinois    149995

From a list of dicts

In [0]:
data = [{'a': i, 'b': 3 ** i}
        for i in range(5)]
pd.DataFrame(data)

   a   b
0  0   1
1  1   3
2  2   9
3  3  27
4  4  81

In [0]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4},{'d':18,'e':19,'a':20}])

      a    b    c     d     e
0   1.0  2.0  NaN   NaN   NaN
1   NaN  3.0  4.0   NaN   NaN
2  20.0  NaN  NaN  18.0  19.0

From a dictionary of Series objects

In [0]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

From a two-dimensional NumPy array¶

In [0]:
pd.DataFrame(np.random.rand(4, 4),
             columns=['foo', 'bar','bha','abh'],
             index=['a', 'b','c','d'])

        foo       bar       bha       abh
a  0.384331  0.475346  0.982902  0.058879
b  0.404525  0.644824  0.669869  0.247868
c  0.746369  0.057796  0.344440  0.866677
d  0.931072  0.218017  0.003229  0.474269

From a NumPy structured array

In [0]:
A = np.zeros(100, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.),
       (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [0]:
pd.DataFrame(A)

    A    B
0   0  0.0
1   0  0.0
2   0  0.0
3   0  0.0
4   0  0.0
5   0  0.0
6   0  0.0
7   0  0.0
8   0  0.0
9   0  0.0
10  0  0.0
11  0  0.0
12  0  0.0
13  0  0.0
14  0  0.0
15  0  0.0
16  0  0.0
17  0  0.0
18  0  0.0
19  0  0.0
20  0  0.0
21  0  0.0
22  0  0.0
23  0  0.0
24  0  0.0
25  0  0.0
26  0  0.0
27  0  0.0
28  0  0.0
29  0  0.0
.. ..  ...
70  0  0.0
71  0  0.0
72  0  0.0
73  0  0.0
74  0  0.0
75  0  0.0
76  0  0.0
77  0  0.0
78  0  0.0
79  0  0.0
80  0  0.0
81  0  0.0
82  0  0.0
83  0  0.0
84  0  0.0
85  0  0.0
86  0  0.0
87  0  0.0
88  0  0.0
89  0  0.0
90  0  0.0
91  0  0.0
92  0  0.0
93  0  0.0
94  0  0.0
95  0  0.0
96  0  0.0
97  0  0.0
98  0  0.0
99  0  0.0

[100 rows x 2 columns]

The Pandas Index Object

In [0]:
ind = pd.Index([2, 3.000000, 5, 7, 11])
ind

Float64Index([2.0, 3.0, 5.0, 7.0, 11.0], dtype='float64')

Index as immutable array¶

In [0]:
ind[5] = 0

TypeError: ignored

Index as ordered set

In [0]:
indA = pd.Index([1, 30, 5, 7, 9])
indB = pd.Index([10,20,30,40,50])

In [0]:
indA & indB

Int64Index([30], dtype='int64')

In [0]:
indA.intersection(indB)

Int64Index([30], dtype='int64')

data indexing and selection python

In [0]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [0]:
'be' in data

False

In [0]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [0]:
list(data.keys())

['a', 'b', 'c', 'd']

In [0]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [0]:
data['f'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
f    1.25
dtype: float64

Series as one-dimensional array

In [0]:
data[0:4]

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [0]:
data[(data > 1) & (data < 5)]

f    1.25
dtype: float64

In [0]:
data[['a', 'f']]

a    0.25
f    1.25
dtype: float64

Indexers: loc, iloc, and ix

In [0]:
data[1]

0.5

In [0]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [0]:
data[5]

'c'

In [0]:
data[0:5]

3    b
5    c
dtype: object

In [0]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [7]:
from pandas import DataFrame

Data = {'Product': ['Desktop Computer','Tablet','iPhone','Laptop'],
        'Price': [700,250,800,1200]
        }

df = DataFrame(Data, columns= ['Product', 'Price'])

print (df)
Export = df.to_json (r'C:\Users\Ron\Desktop\Export_DataFrame.json', orient='split')

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200